._1JqhiJ8_SwKH8PRALcO9Hc {
  color: #bbb;
  position: relative;
  flex-grow: 1;
}

._1vWRpdI8cKNMPyOPnzlXgX {
  font-size: 11px;
  line-height: 1.1;
}

._3ifriA33o8WAhdFSaIgqWi {
  display: inline;
  color: #3fa2de;
  cursor: pointer;
}

._1koW8Ep713S-bJq2JtDQbf {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  padding: 4px 8px;
}

._1zR6iIrEu-_zsz_NztLd_d {
  background-color: #222;
  text-align: justify;
  padding-bottom: 3px;
}

._9OV6uxQlwxlq83OCpsGgY {
  background-color: #23282b;
}

._2NJYPo9yjhxjx33ER3xFk3 {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 2px;
  font-size: 11px;
}

._9OV6uxQlwxlq83OCpsGgY label {
  background-color: #3fa2de;
}

._2NJYPo9yjhxjx33ER3xFk3 label {
  display: inline-block;
  min-width: 140px;
  padding: 0 2px;
  line-height: 17px;
  color: #272727;
  font-weight: bold;
}

._3g19StcOClsv9eua4EHqhF:first-child {
  margin-top: 2px;
}

._3g19StcOClsv9eua4EHqhF {
  display: flex;
  flex-direction: column;
}

._1W2XA0wtOCnijQzxBZNjQN {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}
._1W2XA0wtOCnijQzxBZNjQN > div {
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  line-height: 28px;
}

.fdpfT6y20U7LwZRHDYHvh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: #222;
  text-align: center;
  line-height: 12px !important;
}
._8ENerpubNQH-6T4gcbv3o {
  float: left;
  margin-right: 4px;
}
._1BIGnSPbvzDVBNLlwLm3GK {
  font-weight: bold;
  text-align: center;
}

._3_fKwpMW5YuE8OY9dgTTUr {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

._3ASaYtXQD9Z4Pxvf0cVnxI {
  line-height: 0.9;
  border-radius: 3px 0 0 0;
  padding: 3px 3px 2px 4px;
  color: #bbb;
  background-color: #23282b;
}

.rRkbQMZ3sqEwwoTeNKKbE {
  font-size: 8px;
  line-height: 1;
}
